<p style="color: red"><%= notice %></p>
<div>
<h2> <%= link_to "Back to User" , user_path(@user) %> </h2>
</div>
<div>
 &nbsp
</div>
<%  @deleted_micropost.each do |m| %>
<div>
<%= image_tag (m.content), :width => "20%"  %>
</div>
<div>
<%= m.id %>
<%= %>
<div>
 <b><%= link_to "restore this micropost" , micropost_restore_path(m) %> </b> <b>/</b>
 <b><%= link_to "delete this post from bin" , micropost_destroy_path(m) %></b>
<%= %>
<div>
 &nbsp
</div>
<div>
 &nbsp
</div>
<div>
 &nbsp
</div>
</div>
<%end%>

