<p style="color: green"><%= notice %></p>
<% provide(:title, @user.name) %>
<%= render @user %>

<%  @user.microposts.each do |m| %>
  <div>
  press here to see this micropost:
  <%= link_to m.id , micropost_path(m.id)  %>
    &nbsp
  <%= image_tag (m.content), :width => "20%"  %>
  <%= button_to "Destroy this micropost", micropost_path(m.id), method: :delete %>
   </div>
   &nbsp
<%end%>
  &nbsp



<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
