<p style="color: green"><%= notice %></p>

<div>
  <h2> created by: <%= User.find(@micropost.user_id).name %> </h2>
  </div>
<div>
  <%= image_tag (@micropost.content), :width => "40%" %>

  </div>
<%= @micropost.comments.count %> comments
<%=  render @micropost.comments %>
<%= render partial: 'comments/form'%>
<div>
   <% user_id = @micropost.user_id %>
   <%  user_object = User.find(user_id) %>
  <%= link_to "Back to user", user_path(current_user) %>
  <%= link_to "Back to microposts", microposts_path %>
  <%# <%= button_to "Destroy this micropost", @micropost, method: :delete %>
</div>
